

*{
background-color: #84a584;

}

h3{
max-width: 20%;
margin: auto;
font-weight: 900;
color: #211b7a; 
font-size: 30px;
    font-weight: bold;


}

body{
    font-weight: bold;
    

}

.work select{
    color: blue;
    background:#73ff00;
    font-weight: bold;
    font-style: Georgia;
    align-content: center;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);  
    -webkit-appearance: button;
    outline:none;
}

option{
    font-weight: bold;
    background-color: #73ff00;
    color: blue;
}

.topnav{
    overflow: hidden;
    padding-left: 20%;
    float: left; 
    font-size: 20px;
    }
    
    .topnav a{
    color: #000000;
    }
    
    .topnav a:hover{
        color: wheat;
    }

textarea{
background-color: whitesmoke;
}

input{
    background-color: whitesmoke;
}

.hard{

    color:green;
    background-color:yellow;
    padding-left: 30%;
    font-weight: 600;
     

}
::placeholder{
    color:red;
}

 .work{
    
    max-width: 50%;
    margin:auto;
    box-shadow: 0 0 20px 0 rgba(1,1,1,1);  
    padding-left: 10%;

}

footer{
    background-color: greenyellow;
    
}

    

button{

    background-color: yellow;
    border-radius: 4px;
    border-width: 1px;
    color: #f500b4;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;


}

button:hover {
    background-color: white;

}

